openai==1.14.2
unidiff==0.7.5
unidiff==0.7.5
loguru==0.7.2
aiohttp==3.9.3
GitPython==3.1.42
pathspec==0.12.1
inquirerpy==0.3.4
pick==2.3.2
thefuzz==0.22.1
tiktoken==0.7.0
matplotlib==3.9.0
scikit-learn==1.5.0
colorama==0.4.6
colorama==0.4.6
google-generativeai==0.7.0
aiofiles==24.1.0
peewee==3.17.5
dateparser==1.2.0
cloudscraper==1.2.71
beautifulsoup4==4.12.3
python-telegram-bot[job-queue]
python-telegram-bot==21.3
